/** banner-style-three **/

.banner-style-three{
  position: relative;
  padding: 0px 205px 120px 205px;
}

.banner-style-three .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.banner-style-three .inner-container{
  position: relative;
  padding-right: 370px;
}

.banner-style-three .inner-box .content-box,
.banner-style-three .inner-box .image-box{
  position: relative;
  float: left;
  width: 50%;
}

.banner-style-three .inner-box .image-box .image{
  position: relative;
  display: block;
}

.banner-style-three .inner-box .image-box .image img{
  width: 100%;
}

.banner-style-three .content-box{
  position: relative;
  display: block;
  padding: 50px 50px;
}

.banner-style-three .content-box .shape{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-three .content-box .light-icon{
  position: absolute;
  top: 50px;
  right: 160px;
}

.banner-style-three .content-box .doller-box{
  position: relative;
  display: inline-block;
  margin-bottom: 31px;
}

.banner-style-three .content-box .rotate-box{
  position: absolute;
  top: 50px;
  right: 50px;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
}

.banner-style-three .content-box .rotate-box:before{
  position: absolute;
  content: '';
  background-image: url(/assets/images/shape/shape-13.png);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.banner-style-three .content-box .rotate-box .curved-circle{
  position: absolute;
  left: 80px;
  top: 3px;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--title-font);
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}

.banner-style-three .content-box .rotate-box .text span{
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 20px;
  color: var(--title-color);
}

.banner-style-three .content-box .rotate-box .text h3{
  display: block;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0px;
}

.banner-style-three .content-box .rotate-box .text h6{
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.banner-style-three .content-box .sec-title h2{
  font-size: 58px;
  line-height: 68px;
}

.banner-style-three .content-box .sec-title h2 span{
  position: relative;
  display: inline-block;
  font-weight: 300;
}

.banner-style-three .content-box .sec-title h2 span:before{
  position: absolute;
  content: '';
  background: #c2c2c2;
  width: 100%;
  height: 10px;
  left: 0px;
  bottom: 4px;
}

.banner-style-three .content-box .sec-title{
  margin-bottom: 27px;
}

.banner-style-three .content-box p{
  margin-bottom: 26px;
}

.banner-style-three .content-box .btn-box{
  position: relative;
  display: block;
  border-bottom: 2px solid #141414;
  padding-bottom: 10px;
  margin-bottom: 35px;
}

.banner-style-three .content-box .btn-box a{
  position: relative;
  display: inline-block;
  gap: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: var(--title-color);
  padding-left: 26px;
}

.banner-style-three .content-box .btn-box a i{
  position: absolute;
  left: 0px;
  top: 3px;
  font-size: 20px;
}

.banner-style-three .content-box .appointment-box{
  position: relative;
  padding: 0px 30px 0px 60px;
}

.banner-style-three .content-box .appointment-box .icon-box{
  position: absolute;
  left: 0px;
  top: 4px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  text-align: center;
}

.banner-style-three .content-box .appointment-box h5{
  display: block;
  font-size: 18px;
  line-height: 26px;
}

.banner-style-three .content-box .appointment-box p{
  margin-bottom: 0px;
}

.banner-style-three .content-box .appointment-box .link{
  position: absolute;
  top: 14px;
  right: 0px;
}

.banner-style-three .content-box .appointment-box .link a{
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: var(--title-color);
}

.banner-style-three .content-box:before{
  position: absolute;
  content: '';
  width: 60px;
  height: 40px;
  background: #fff;
  top: 0px;
  right: -30px;
  z-index: 1;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%, 0% 0%);
}

.banner-style-three .content-box:after{
  position: absolute;
  content: '';
  width: 60px;
  height: 40px;
  background: #fff;
  bottom: 0px;
  right: -30px;
  z-index: 1;
  clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%, 50% 0%);
}

.banner-style-three .form-inner{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 370px;
  padding: 43px 40px 45px 40px;
}

.banner-style-three .form-inner:before{
  position: absolute;
  content: '';
  width: 60px;
  height: 40px;
  background: #fff;
  top: 0px;
  left: -30px;
  z-index: 1;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%, 0% 0%);
}

.banner-style-three .form-inner:after{
  position: absolute;
  content: '';
  width: 60px;
  height: 40px;
  background: #fff;
  bottom: 0px;
  left: -30px;
  z-index: 1;
  clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%, 50% 0%);
}

.banner-style-three .form-inner .shape{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-style-three .form-inner h3{
  display: block;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 23.5px;
}

.banner-style-three .form-inner .tab-btns{
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
}

.banner-style-three .form-inner .tab-btns .tab-btn{
  position: relative;
  display: inline-block;
  margin-right: 25px;
  padding-bottom: 10px;
  cursor: pointer;
}

.banner-style-three .form-inner .tab-btns .tab-btn:last-child{
  margin: 0px !important;
}

.banner-style-three .form-inner .tab-btns .tab-btn:before{
  position: absolute;
  content: '';
  background: var(--theme-color);
  width: 0%;
  height: 1px;
  left: 0px;
  bottom: -1px;
  transition: all 500ms ease;
}

.banner-style-three .form-inner .tab-btns .tab-btn.active-btn:before{
  width: 100%;
}

.banner-style-three .form-inner .tab-btns .tab-btn h5{
  font-size: 18px;
  line-height: 26px;
  opacity: 0.30;
  transition: all 500ms ease;
}

.banner-style-three .form-inner .tab-btns .tab-btn.active-btn h5{
  opacity: 1;
}

.banner-style-three .form-inner .form-group{
  position: relative;
  margin-bottom: 10px;
}

.banner-style-three .form-inner .form-group input[type='text'],
.banner-style-three .form-inner .form-group input[type='password']{
  position: relative;
  display: block;
  width: 100%;
  height: 56px;
  background: #fff;
  border: 1px solid #fff;
  font-size: 17px;
  color: #595858;
  padding: 10px 45px 10px 20px;
  transition: all 500ms ease;
}

.banner-style-three .form-inner .form-group .icon-box{
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 1;
}

.banner-style-three .form-inner .form-group input:focus{
  border-color: var(--theme-color);
}

.banner-style-three .form-inner .text-box{
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--title-color);
}

.banner-style-three .form-inner .theme-btn{
  width: 100%;
}

.banner-style-three .form-inner .forgot-password button{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  color: var(--title-color);
  border-bottom: 1px solid var(--theme-color);
}

.banner-style-three .form-inner .text p a{
  display: inline-block;
  color: var(--text-color);
}

.banner-style-three .form-inner .text p a:hover{
  text-decoration: underline;
  color: var(--title-color);
}

.sec-title .sub-title.light{
  opacity: 0.4;
}

.custom-banking-two.alternat-2 .banking-block-one .inner-box .image-box .icon-box{
  background: #e8e8e8;
}

.custom-banking-two.alternat-2 .banking-block-one .inner-box .image-box .btn-box .theme-btn{
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
}

.custom-banking-two.alternat-2 .banking-block-one .inner-box .image-box .btn-box .theme-btn:hover span:before{
  color: #fff;
}

.custom-banking-two.alternat-2 .banking-block-one .inner-box:hover .text-box{
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
}

.custom-banking-two.alternat-2 .more-text h5{
  color: #595858;
}

.custom-banking.alternat-2 .sec-title .sub-title{
  color: var(--theme-color);
}

.custom-banking.alternat-2 .sec-title .sub-title:before,
.custom-banking.alternat-2 .sec-title .sub-title:after{
  background: var(--theme-color);
}

.custom-banking.alternat-2 .tabs-box .tab-btn-one .tab-btns li{
  background: #e4e4e4;
}

.custom-banking.alternat-2 .tabs-box .tab-btn-one .tab-btns li.active-btn{
  background: #f4f4f4;
  color: var(--title-color);
}

.custom-banking .content-box .inner-box .form-inner:before{
  position: absolute;
  content: '';
  background-image: url(/assets/images/shape/shape-18.png);
  width: 100%;
  height: 193px;
  left: 0px;
  bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}


.calculator-section.alternat-2 .content-box .left-content .lower-text h5{
  color: #a19e9e;
}

.calculator-section.alternat-2 .progress-block-one .inner-box .bar-inner:before{
  opacity: 0.4;
}

.calculator-section.alternat-2 .amount-box .emi-box{
  background: transparent;
}

.calculator-section.alternat-2 .amount-box .emi-box:before{
  position: absolute;
  content: '';
  background-image: url(/assets/images/shape/shape-19.png);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.calculator-section.alternat-2 .amount-box .emi-box h5{
  color: #545151;
}

.calculator-section.alternat-2 .amount-box .emi-box h3{
  color: var(--title-color);
}

.calculator-section.alternat-2 .amount-box .emi-box .btn-box .theme-btn{
  background: var(--theme-color);
  color: #fff !important;
}

.calculator-section.alternat-2 .amount-box .emi-box .btn-box .theme-btn:before{
  background: #fff;
}

.calculator-section.alternat-2 .amount-box .emi-box .btn-box .theme-btn:hover,
.calculator-section.alternat-2 .amount-box .emi-box .btn-box .theme-btn:hover span:before{
  color: var(--title-color) !important;
}

.calculator-section.alternat-2 .amount-box .emi-box .btn-box .theme-btn span:before{
  color: #fff;
}

.calculator-section.alternat-2 .amount-box .interest-amount .single-amount .icon-box{
  opacity: 0.4;
}

.bg-color-4{
  background: #f4f4f4;
}

.working-section .more-text.light h5{
  color: #595858;
}

.creditcard-section.alternat-2 .sec-title .sub-title{
  color: #565555;
}

.creditcard-section.alternat-2 .sec-title .sub-title:before,
.creditcard-section.alternat-2 .sec-title .sub-title:after{
  background: #565555;
}

.creditcard-section.alternat-2 .content-box .tab-btns .tab-btn.active-btn{
  background: #292929;
  border-color: #292929;
}

.creditcard-section.alternat-2 .content-box .tab-btns .tab-btn{
  background: #141414;
  border: 1px solid #2c2c2c;
  padding-top: 11px;
  padding-bottom: 11px;
}

.creditcard-section.alternat-2 .content-box .inner-box .text-box a,
.creditcard-section.alternat-2 .content-box .inner-box .text-box a i{
  color: #fff;
}


/** testimonial-style-two **/

.testimonial-style-two{
  position: relative;
}

.testimonial-style-two .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.testimonial-style-two .owl-carousel .owl-stage-outer .owl-item{
  opacity: 0;
  visibility: hidden;
}

.testimonial-style-two .owl-carousel .owl-stage-outer .owl-item.active{
  opacity: 1;
  visibility: visible;
}

.testimonial-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 30px;
  padding: 40px 30px 40px 40px;
}

.testimonial-block-one .inner-box .rating{
  position: absolute;
  top: 40px;
  right: 0px;
  background: #f4f4f4;
  font-size: 17px;
  line-height: 26px;
  color: var(--title-color);
  padding: 5px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.testimonial-block-one .inner-box .rating i{
  position: relative;
  display: inline-block;
  color: #fcc22d;
  font-size: 16px;
  height: 24px;
}

.testimonial-block-one .inner-box .rating:before{
  position: absolute;
  content: '';
  background: #f4f4f4;
  width: 18px;
  height: 18px;
  left: -18px;
  top: 0px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 0%);
}

.testimonial-block-one .inner-box .rating:after{
  position: absolute;
  content: '';
  background: #f4f4f4;
  width: 18px;
  height: 18px;
  left: -18px;
  bottom: 0px;
  clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.testimonial-block-one .inner-box .icon-box{
  position: relative;
  display: inline-block;
  margin-bottom: 31px;
}

.testimonial-block-one .inner-box h3{
  display: block;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.testimonial-block-one .inner-box p{
  margin-bottom: 24px;
}

.testimonial-block-one .inner-box .author-box{
  position: relative;
  display: block;
  padding: 0px 0px 0px 100px;
}

.testimonial-block-one .inner-box .author-box .thumb-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 4px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-box h4{
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}

.testimonial-block-one .inner-box .author-box .designation{
  position: relative;
  display: block;
  max-width: 200px;
}

.testimonial-style-two .big-text{
  position: absolute;
  left: 0px;
  top: -95px;
  width: 100%;
  text-align: center;
  font-size: 150px;
  line-height: 110px;
  font-family: var(--title-font);
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(-90deg, #f4f4f4, #fff 100%);
}


.deals-section.alternat-2 .newsletter-inner .icon-box{
  background: #e5e5e5;
}

.deals-section.alternat-2 .newsletter-inner p,
.deals-section.alternat-2 .newsletter-inner .lower-text{
  color: #a19e9e;
}

.deals-section.alternat-2 .newsletter-inner .form-group button[type='submit']{
  background: #f4f4f4;
}


